@import url(normalize.css);

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

@gray: #797979;
@gray-text: #3d3d3d;
@answer-text: #231f20;
@main-color: #2f1b15;
@link-color: #014f98;
@main-bkg: url(../img/bkg.png) repeat-y center;

.center(){
	margin: 0 auto;
}

.PT(){
	font-family: 'PT sans';
	font-weight: 600;
	font-size: 2.243rem;
}

html{
	background: #797979;
	font-size: 62.5%;
}

body{
	background: @main-bkg;
	.center;
	max-width: 100rem;
	height: auto;
	padding: 5rem;
    box-sizing: border-box;
    .PT;
    color: @main-color;
}

header{

	div{
		display: inline-block;
		background-blend-mode: normal;
		font-size: 1rem;
		font-weight: 300;

		&:first-child{
			margin-top: 1rem;
		}

		&:last-child{
			float: right;
		}
	}

	p{
		text-align: center;
		margin-top: -1rem;
	}
}

.content{
	margin: 5.5rem;

	img{
		display: block;
		margin: 1rem auto;
		margin-left: 26rem;
		margin-bottom: 2.5rem;
	}

	ul{
		list-style: none;
    	padding: 0;
    	margin: 3rem auto;
    	margin-top: 7rem;

		li{
			font-size: 2.243rem;
		    display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: stretch;
		    align-items: flex-start;
		    margin-top: 1rem;

			p{
			    display: block;
			    padding-left: 1.5rem;
			    margin-left: 2rem;
				margin-top: -20px;
				font-family: 'Courier new';
				font-size: 3rem;
				font-weight: 300;
			    order: 0;
			    flex: 1 1 auto;
			    align-self: auto;
			    color: @answer-text;

			    &:after{
					display: block;
					content: " ";
					width: 100%;
					height: 5px;
					background: url(../img/border.png) repeat-x bottom;
					margin-top: .5rem;
					margin-left: -1.5rem;
			    }
			}

			span{
				display: block;
			    float: left;
			    margin: 0;
			    color: @main-color;
			    order: 0;
			    flex: 0 1 auto;
			    align-self: auto;
			}
		}
	}

	.stud{
		display: block;

		a{
			margin-right: 1.5rem;
			color: @link-color;
			text-decoration: none;
			border-bottom: 1px solid @link-color;
		}

		input{
			display: none;

			& + label{
				cursor: pointer;

				span{
					display: inline-block;
					width: 2.7rem;
					height: 2.7rem;
					margin: 1rem;
					vertical-align: middle;
					background: url(../img/radio.png) no-repeat left top;
					cursor: pointer;
				}
			}

			&:checked{

				& + label span{
					background: url(../img/radio.png) no-repeat right top;
				}
			}
		}
	}

	.practice{
		margin: 5rem auto;

		h3{
			margin: 1.5rem auto;
			font-size: 2.243rem;
		}

		p{
			font-weight: 300;
			font-size: 1.4rem;
			color: @gray-text;
			margin: 1rem;

			&:before{
				content: "*";
				font-size: 3.6rem;
				float: left;
				margin-right: .5rem;
			    margin-top: -0.5rem;
			    margin-left: .5rem;
			}
		}

		.boxes{
			column-width: auto;
			column-count: 3;
			column-gap: normal;
			white-space: nowrap;
			font-size: 2.1rem;
			padding: 1rem 0;

			input{
				display: none;

				& + label{
				cursor: pointer;

				span{
					display: inline-block;
					width: 2.4rem;
					height: 2.7rem;
					margin: .5rem;
					vertical-align: bottom;
					background: url(../img/check.png) no-repeat left bottom;
					cursor: pointer;
				}
			}

			&:checked{

				& + label span{
					background: url(../img/check.png) no-repeat right bottom;
				}
			}
			}
		}

		.java{
			margin: 8.5rem auto;
			padding: 0 1.5rem;

			h3{
				margin: 3rem auto;
			}

			span{
				font-size: 1.3rem;
				max-width: 17rem;
				display: inline-block;

				&:before{
					content: " ";
				    display: block;
				    height: 2rem;
				    width: 2px;
				    background: @main-color;
				    margin-top: -11px;
				}

				&:nth-of-type(2){
					position: absolute;
					left: 32.5%;

					&:before{
						height: 1rem;
						margin-bottom: 1rem;
					}
				}

				&:nth-of-type(3){
					position: absolute;
					left: 51.8%;

					&:before{
						height: 1rem;
						margin-bottom: 1rem;
					}
				}

				&:last-of-type{
					position: absolute;
					left: 69.23%;

					&:before{
						position: relative;
						left: 96.5%;
					}
				}
			}

			input[type="range"]{
				-webkit-appearance: none;
				width: 100%;
				background: transparent;
 				border-color: transparent;
 				color: transparent;
 				background: url(../img/border.png) repeat-x center;
 				display: block;
 				margin: auto;

				&:focus{
					outline: none;
				}

				&::-moz-range-track {
					-moz-appearance: none;
					width: 100%;
					background: transparent;
	 				border-color: transparent;
	 				color: transparent;
	 				background: url(../img/border.png) repeat-x center;
	 				display: block;
	 				margin: auto;
				}

				&::-ms-track {
					 width: 100%;
					 cursor: pointer;
					 background: transparent;
					 border-color: transparent;
					 color: transparent;
				}

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					background: url(../img/tres.png) no-repeat center;
					border: none;
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;
					margin-bottom: 1.5rem;
				}

				&::-moz-range-thumb {
					-moz-appearance: none;
					background: url(../img/tres.png) no-repeat center;
					border: none;
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;
					margin-bottom: 1.5rem;
				}

				&::-ms-thumb {
					-ms-appearance: none;
					background: url(../img/tres.png) no-repeat center;
					border: none;
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}

footer{
	margin: 6rem;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

	span{
		display: block;
	    float: left;
	    margin: 0;
	    color: @main-color;
	    order: 0;
	    flex: 0 1 auto;
	    align-self: auto;
    }

	p{
	    display: block;
	    padding: 0 1.5rem;
	    margin-left: 2rem;
		margin-top: -20px;
		font-family: 'Courier new';
		font-size: 3rem;
		font-weight: 300;
		background: url(../img/border.png) repeat-x bottom;
	    order: 0;
	    flex: 0 1 auto;
	    align-self: auto;
	    color: @answer-text;
	    line-height: 155%;
	}
}

